@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import "tailwindcss";

@layer theme {
  :root {
    --color-primary: #3b82f6;
    --color-text: #2D2D2D;
    --color-bg: #ffffff;
    --color-border: #e0e0e0;
    --border-radius: 8px;
  }
}

@layer base {
  body {
    font-family: "Roboto", sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
    margin: 0;
    padding: 0;
  }
}

.hide-arrows::-webkit-inner-spin-button,
.hide-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide-arrows {
  -moz-appearance: textfield;
  appearance: textfield;
}